[submodule "service-orchestrator"]
	path = service-orchestrator
	url = https://github.com/eminb61/service-orchestrator.git
[submodule "RL-UAM"]
	path = RL-UAM
	url = https://github.com/eminb61/RL-UAM.git
[submodule "vertisim"]
	path = vertisim
	url = https://github.com/eminb61/vertisim
