geog==0.0.2
numpy
networkx==2.6.2
scipy>=1.7.1
Shapely==2.0.2
simpy==4.0.1
sympy==1.11.1
xlrd==2.0.1
fastapi>=0.103.2
uvicorn>=0.23.2
gymnasium==0.29.1
requests>=2.29.0
torch
torch-geometric
pandas
stable-baselines3
tensorboard==2.10.0
tensorboardX==2.5.1
sb3-contrib
tqdm
PyYAML
optuna
optuna_distributed
wandb
diskcache